:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	--primary-clr: #fff7ed;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	font-family: inherit;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: var(--primary-clr);
	-ms-overflow-style: none;
	scrollbar-width: none;
	color: #232323;
}

body::-webkit-scrollbar {
	display: none;
}

ul {
	list-style: none;
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}
/* a:visited {
	color: initial;
} */

p {
	color: #333;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border: 1px solid transparent;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	cursor: pointer;
	transition: border-color 0.25s;
}

header {
	min-height: 80px;
	padding-inline: 27px;
	display: flex;
	align-items: center;
	padding-block: 10px;
	flex-wrap: wrap;
	color: #4d4d4d;
	box-shadow: 0px 6px 12px rgb(0 0 0 / 10%);
}

header .site-logo {
	margin-block: 11px;
	color: rgb(38, 38, 38);
	margin-right: auto;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 25px;
}

header nav {
	overflow: hidden;
	display: flex;
	align-items: center;
	gap: 1rem;
	transition: 300ms;
}

header a {
	text-decoration: none;
	color: #4d4d4d;
	font-weight: 500;
	transition: 300ms background-color;
}
@media (max-width: 768px) {
	header nav {
		height: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	header nav.active {
		height: 276px;
		padding-top: 1rem;
	}
	header nav a {
		width: 100%;
		border-radius: 8px;
		padding-block: 0.5rem;
		text-align: center;
	}
	header nav a:is(:hover, .active) {
		background-color: #ffe7c7;
	}
	header a:has(img) {
		justify-content: center;
	}
}

header a:has(img) {
	display: inline-flex;
	align-items: center;
	flex-shrink: 0;
}

header nav a:is(.active) {
	text-decoration: underline;
	color: #161616;
	font-weight: bold;
}
@media (min-width: 768px) {
	header nav a:is(.active, :hover) {
		text-decoration: underline;
	}
}

section {
	min-height: calc(100vh - 149px);
	padding-block-end: 20px;
	display: flex;
	flex-direction: column;
}

img {
	max-width: 100%;
}

.red {
	color: red;
}

.container {
	max-width: 800px;
}

.bottom {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	flex: 1;
}
.bottom img {
	width: 100%;
	margin-inline: auto;
	border-radius: 8px;
}
@media (min-width: 768px) {
	.bottom {
		margin: 0;
	}
	.bottom img {
		margin-inline: auto;
		border-radius: 8px;
	}
}
.menu-btn {
	background-color: #ffe7c7;
	border-radius: 8px;
	padding: 4px 6px;
	font-weight: 500;
}
@media (min-width: 768px) {
	.menu-btn {
		display: none;
	}
}

.link-button {
	width: fit-content;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	border: none;
	padding: 0.75rem 1.375rem;
	color: initial;
	font-weight: 700;
	border-radius: 5px;
	background-color: #161616;
	color: white;
	cursor: pointer;
	transition: transform 0.1s ease-in-out;
}

.link-button:hover {
	transform: translate(1px, 1px);
}

.overlay {
	width: 100%;
	height: 100%;
	padding: 2rem;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsla(0, 0%, 0%, 0.5);
}

.modal {
	padding: 2rem;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
	background-color: #ffead0;
}

.modal svg {
	font-size: 2rem;
	font-weight: 500;
}
.modal p {
	font-size: 1.5rem;
	font-weight: 500;
}

.btns-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.btns-container a {
	background-color: #ff8c38;
	color: white;
}
.btns-container button {
	background-color: transparent;
	border: 1px solid #161616;
	color: #161616;
}

/*** HOME PAGE ***/
.home-container {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
		url("../src/assets/images/home-hero.png") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
	padding: 45px 23px;
	display: flex;
}

.home-container .container {
	margin-inline: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.home-container h1 {
	font-weight: 700;
	font-size: 2.25rem;
	line-height: 42px;
}

.home-container p {
	max-width: 500px;
	margin-block-start: 1rem;
	line-height: 24px;
	color: white;
}

.home-container a {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	background-color: #ff8c38;
	border: none;
	margin-top: 27px;
	color: white;
	font-weight: 700;
	border-radius: 5px;
	cursor: pointer;
	transition: transform 0.1s ease-in-out;
}

.home-container a:hover {
	transform: translate(1px, 1px);
}

/*** ABOUT PAGE ***/
.about-page-container {
	padding-bottom: 27px;
}

.about-hero-image {
	max-width: 100%;
}

.about-page-content {
	padding-inline: 23px;
	color: #161616;
}

.about-page-content h1 {
	margin-bottom: 20px;
}

.about-page-content p {
	line-height: 1.6;
}

.about-page-cta {
	background-color: #ffcc8d;
	color: #161616;
	padding-inline: 32px;
	padding-bottom: 32px;
	margin-inline: 27px;
	margin-block-start: 27px;
	border-radius: 5px;
}

.about-page-cta h2 {
	margin: 0;
	padding-block: 20px;
	line-height: 1.3;
}

.about-page-cta .link-button {
	background-color: #161616;
	color: white;
	border-radius: 10px;
}

/*** VAN PAGES ***/
.van-list-container {
	margin-top: 1.5rem;
	padding-inline: 23px;
	display: flex;
	flex-direction: column;
}

.van-list-filter-buttons {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.van-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
	justify-items: center;
	gap: 30px 20px;
	margin-top: 57px;
}

.van-tile a {
	width: 100%;
	color: #161616;
	text-decoration: none;
}

.van-tile img {
	max-width: 100%;
	min-width: 230px;
	min-height: 230px;
	border-radius: 8px;
}

.van-tile .van-type {
	margin-top: 0.8rem;
}

.van-list-container button {
	cursor: pointer;
}

.van-type {
	height: 34px;
	padding: 6px 26px;
	font-style: normal;
	font-weight: 500;
	border: none;
	border-radius: 5px;
	background-color: #ffead0;
	color: #4d4d4d;
	text-transform: capitalize;
	transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
	display: inline-block;
}

.van-type:focus {
	outline: none;
}

.van-type.selected {
	color: #ffead0;
}

.van-type.simple:is(.selected, :hover) {
	background-color: #e17654;
	color: #ffead0;
}

.van-type.rugged:is(.selected, :hover) {
	background-color: #115e59;
	color: #ffead0;
}
.van-type.luxury:is(.selected, :hover) {
	background-color: #161616;
	color: #ffead0;
}

.van-type.clear-filters {
	margin-left: -20px;
	height: 34px;
	padding: 6px 26px;
	font-style: normal;
	font-weight: 500;
	border: none;
	border-radius: 5px;
	text-decoration: underline;
	background-color: transparent;
	color: #4d4d4d;
}

span[class*="van-type-"] {
	padding: 7px 14px;
}

.van-detail-container {
	padding: 30px 27px;
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	gap: 3rem;
}
.van-detail-container > a {
	margin-right: auto;
	font-weight: 500;
	text-decoration: underline;
}

.back-button {
	margin-top: 1rem;
	color: black;
	text-decoration: none;
}

.back-button span {
	text-decoration: underline;
}

.van-detail {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: center;
	gap: 2rem;
	color: #161616;
}

@media (min-width: 768px) {
	.van-detail {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 4rem;
	}
}

.van-detail img {
	width: 400px;
	max-width: 100%;
	border-radius: 5px;
}

.van-detail h2 {
	font-size: 3rem;
	margin-bottom: 10px;
}

.van-detail > span {
	align-self: flex-start;
}

.van-detail .van-price {
	font-size: 1.25rem;
	margin-bottom: 10px;
}

.van-detail .van-price span {
	font-weight: 700;
	font-size: 1.5rem;
}

.van-detail p {
	max-width: 500px;
	color: #333;
}

.van-detail .link-button {
	margin-block-start: 1rem;
	background-color: #ff8c38;
	color: white;
	font-size: 1.125rem;
}

/* host */
.host-nav {
	display: flex;
	margin-block: 1rem;
}

.host-nav a {
	text-decoration: none;
	color: #4d4d4d;
	font-weight: 500;
	padding: 5px 20px;
}

.host-nav a:is(.active, :hover) {
	text-decoration: underline;
	color: #161616;
}
.host-nav a.active {
	font-weight: bold;
}

.host-cards-list {
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 1rem;
}

.host-van-card > a {
	width: 100%;
	display: flex;
	padding: 1rem;
	gap: 1rem;
	align-items: center;
	border-radius: 8px;
	background-color: white;
}

.host-van-card img {
	width: 70px;
	border-radius: 8px;
}

.host-van-card .info p {
	font-size: 14px;
	font-weight: 500;
	color: #868686;
}

.hos-van-details-container {
	padding: 1rem;
	margin: 2rem 0;
	display: flex;
	flex-direction: column;
	align-items: start;
	border-radius: 8px;
	background-color: white;
}
@media (min-width: 768px) {
	.hos-van-details-container {
		flex-direction: row;
		gap: 2rem;
	}
}

.hos-van-details-container .top {
	padding: 1rem;
	border-radius: 8px;
	display: flex;
	gap: 1rem;
	flex-shrink: 0;
	background-color: #fff7ed;
}

.hos-van-details-container .top img {
	width: 150px;
	border-radius: 8px;
}

.hos-van-details-container .top .info {
	display: grid;
	align-content: start;
	gap: 1rem;
}
.hos-van-details-container .top .info .van-type {
	width: fit-content;
}
.hos-van-details-container .top .info h3 {
	font-size: 20px;
}
@media (min-width: 768px) {
	.hos-van-details-container .top .info h3 {
		font-size: 25px;
	}
}

.hos-van-details-container .top .info span {
	font-weight: bold;
}
.hos-van-details-container .host-nav {
	width: fit-content;
	margin: 1rem 0;
	border-radius: 8px;
	background-color: #fff7ed;
}
@media (min-width: 767px) {
	.hos-van-details-container .host-nav {
		margin-top: 0;
	}
}

.host-van-detail-info > h4 {
	font-weight: 700;
	line-height: 1.6;
}
.host-van-detail-info > h4 > span {
	font-weight: 400;
}

/* not found */

.not-found-container {
	padding-inline: 26px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.not-found-container h1 {
	font-size: 30px;
	max-width: 800px;
	text-align: center;
}

@media (min-width: 768px) {
	.not-found-container h1 {
		font-size: 40px;
	}
}

.not-found-container .link-button {
	background-color: #161616;
	color: white;
}

/* login */

.login-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-inline: 27px;
	margin-top: 1.5rem;
	gap: 2rem;
}

.login-container .link-button {
	background-color: #161616;
	color: white;
	border-radius: 10px;
}

.login-container h1 {
	font-size: 40px;
}

.login-form {
	display: flex;
	flex-direction: column;
	width: 500px;
	max-width: 100%;
}

.login-form > input {
	border: 1px solid rgba(209, 213, 219);
	height: 40px;
	text-indent: 10px;
	font-family: "Inter", sans-serif;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
	font-weight: 400;
}

.login-form > input:focus {
	outline: none;
}

.login-form > input:first-of-type {
	border-radius: 6px 6px 0px 0px;
}

.login-form > input:last-of-type {
	border-radius: 0px 0px 6px 6px;
	border-top: none;
}

.login-form > button {
	background-color: #ff8c38;
	border: none;
	border-radius: 6px;
	height: 55px;
	margin-top: 22px;
	color: white;
	font-family: "Inter", sans-serif;
}
button:disabled {
	background-color: #aaaaaa;
	cursor: not-allowed;
}

/* error */
.error .link-button {
	margin-top: 1rem;
	border-radius: 10px;
	background-color: #161616;
	color: white;
}

.loadding {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.loader {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: radial-gradient(farthest-side, #252525 94%, #0000) top/8px 8px
			no-repeat,
		conic-gradient(#0000 30%, #252525);
	-webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
	mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
	animation: spin 0.5s infinite linear;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* host routes */

.host-dashboard-earnings {
	background-color: #ffead0;
	padding: 37px 26px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.host-dashboard-earnings > .info > h1 {
	font-size: 36px;
	color: #161616;
	margin: 0;
}

.host-dashboard-earnings > .info > p {
	color: #4d4d4d;
}

.host-dashboard-earnings > .info > p > span {
	text-decoration: underline;
	font-weight: bold;
}

.host-dashboard-earnings > .info > h2 {
	margin: 0;
	font-size: 38px;
	color: #161616;
	font-weight: 900;
}

.host-dashboard-reviews {
	background-color: #ffddb2;
	padding: 25px 26px;
	display: flex;
	align-items: center;
}

.host-dashboard-reviews > h2 {
	margin: 0;
}

.host-dashboard-reviews .star {
	color: #ff8c38;
	margin-left: 15px;
	font-size: 25px;
}

.host-dashboard-reviews p {
	margin-left: 5px;
	font-size: 20px;
	color: #4d4d4d;
	margin-right: auto;
}

.host-dashboard-reviews p > span {
	font-weight: bold;
	color: #161616;
}

.host-income {
	padding-inline: 26px;
	color: #161616;
}

.host-income > p {
	color: #4d4d4d;
}

.host-income > p span {
	text-decoration: underline;
	font-weight: bold;
}

.host-income > h2 {
	font-size: 38px;
	color: #161616;
	font-weight: 900;
}

img.graph {
	width: 100%;
	max-width: 500px;
}
.host-income .info-header {
	margin-block: 20px;
}

.host-income .info-header > p {
	color: #4d4d4d;
}

.host-income .info-header > p span {
	text-decoration: underline;
	font-weight: bold;
}

.host-income .info-header > h3 {
	font-weight: 700;
	font-size: 24px;
}

.host-income .transaction {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ffead0;
	margin-bottom: 31px;
	padding: 35px 29px;
	border-radius: 8px;
}
.host-income .transaction > h3 {
	font-size: 36px;
	font-weight: 600;
	margin: 0;
}

.host-income .transaction > p {
	font-weight: 500;
	font-size: 20px;
	color: #4d4d4d;
}

.host-reviews {
	padding-inline: 26px;
	color: #161616;
}

.host-reviews .top-text {
	display: flex;
	align-items: center;
	margin-bottom: 32px;
}

.host-reviews .top-text > h2 {
	font-weight: 700;
	font-size: 32px;
	margin: 0;
	margin-right: 20px;
}

.host-reviews .top-text > p {
	margin: 0;
	color: #4d4d4d;
}

.host-reviews .top-text > p span {
	text-decoration: underline;
	font-weight: bold;
}

.host-reviews > img {
	margin-bottom: 36px;
}

.host-reviews .review {
	margin-block: 25px;
}

.host-reviews .review .info {
	display: flex;
}

.host-reviews .review .name {
	color: #161616;
	margin-right: 10px;
	font-weight: 600;
}

.host-reviews .review .date {
	color: #8c8c8c;
}

.host-reviews hr {
	background-color: #c7c7c7;
	height: 1px;
	border: 0;
}

.host-reviews .review-star {
	color: #ff8c38;
	margin-right: 5px;
}

/* footer */
footer {
	padding: 1.5rem;
	text-align: center;
	font-size: 0.875rem;
	line-height: 1.5;
	font-weight: 500;
	color: #999;
	background-color: #252525;
}
